
@model MVC6ApiClientExample.Models.Album

@{
    ViewBag.Title = "Album Detail";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
    </tr>
    <tr>
        <td>@Model.Title</td>
        <td>@Model.Artist</td>
    </tr>
</table>

@Html.ActionLink("Edit this Album", "Edit", "Albums", new { id = Model.Id }, new { @class = "btn btn-primary" })
